# Logs

logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
\*.local

# Editor directories and files

.vscode/_
!.vscode/extensions.json
.idea
.DS_Store
_.suo
_.ntvs_
_.njsproj
_.sln
\*.sw?
*.png
*.cpuprofile
cloc-2.02.exe
/.VSCodeCounter
/.yarn
/doc/.vitepress/cache
public/~$启动指引.docx
public/~WRL0003.tmp
bundle-*.html

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
